*
!cdi/*.sh

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!LICENSE
!examples/*.yaml
!examples/README.md
!examples/debug/README.md
!examples/debug/*.bt
!manifests/*.yaml
!pkg/webhook/testdata/pod.json
!manifests/webhook/*.yaml
!Makefile

# Tests
!tests/*.md
!tests/*.sh

# Image
!build/Containerfile
!build/Containerfile-build
!build/entrypoint.sh

# Workflows
!.github/dependabot.yml
!.github/workflows/publish.yaml

# ...even if they are in subdirectories
!*/